<!-- <p>new-customer works!</p> -->

<section id="new_customer" class="container">
    <div class="row">
        <div class="col-12 col-md-12 gx-5 d-flex justify-content-center sidebar bg-light shadow">
                <ul>
                    <li>
                        Details
                    </li>
                    <li>
                        Documents
                    </li>
                    <li>
                        Preview
                    </li>
                </ul>
        </div>
        <div class="col-md-12 col-12 p-5 gx-3">
                <div class="details">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Father's Name">
                        </div>
                        <div class="form-group d-flex">
                            <input type="date" class="form-control">
                            <select class="form-select" aria-label="Default select">
                                <option selected>Gender</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                                <option value="3">Not-defined</option>
                              </select>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Mobile Number">
                        </div>

                        <div class="form-group mx-3">
                            <button class="btn btn-success">Next</button>
                            <button class="btn btn-secondary mx-1">Reset</button>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</section>